@import "vars.css";
body, html{
    margin: 0;
    min-height: 100%;
    height: 100%;
    font-size: var(--fs);
    font-family: var(--ff-inter);
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-bg);
}
.card{
    width: 27rem;
    height: 9rem;
    background: var(--card-bg);
    border-radius: 0.2rem;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    transform: scale(2)
}
.text{
    width: 50%;
    margin-left: 0.5rem;
}
.text h1{
    color: var(--white);
    font-size: var(--fs);
    width: 90%
}
.text p{
    font-family: var(--ff-lexend);
    font-weight: 400;
    color: var(--transparent-white-p)
}
.insights{
    color: var(--accent)
}
.text p{
    font-size: 0.4rem;
    color: var(--transparent-white-p);
    width: 80%;
    line-height: 0.7rem;
    font-weight: 400;
}
.stats{
    display: flex;
    font-size: 0.6rem;
    gap: 1.6rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
}
.stats div{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.stats span{
    font-size: 0.7rem;
    font-weight: 700;
    color: var(--white);
}
.stats p{
    margin: 0;
    color: var(--transparent-white-stat);
    font-size: 0.35rem;
    font-weight: 400;
}
.img-div {
    height: 100%;
    position: absolute;
    right: -0rem;
    top: 0;
}
.img-div::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: var(--accent);
    position: absolute;
    opacity: 0.6;
    filter: brightness(0.4) saturate(2);
}
.img-div img{
    height: 100%;
    border-radius: 0 0.2rem 0.2rem 0;
}

